.container{
	width: 600px;
	margin: 0 auto;
}
.table{
	width: 100%;
}

.ttt {
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	height: 0;
	padding-top: 45%;
	padding-bottom: 55%;

	text-align: center;
	text-decoration: none;
	font-family: Helvetica, sans-serif;
	font-size: 2em;
	color: #333;
}

.ttt:hover{
	border-bottom: 2px solid #ccc;
}

.player.active{
	font-weight: bold;
}

.spot-{
	display: none;
}
.ttt:hover .spot-{
	display: block;
}

.winner .ttt:hover{
	cursor: default;
}
.winner .ttt:hover .spot-{
	display: none;
}